{% extends 'base.html.twig' %}

{% block title %}
    - Statussen
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Statussen <a href="{{ path('statusInsert') }}" class="btn-sm btn-success"><i id="icon-white" class="fa fa-plus"></i></a></h3>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tr>
                    <th class="sortable">{{ knp_pagination_sortable(statussen, 'Locatie ID', 's.locatieid') }} <i class="fa fa-sort"></i></th>
                    <th class="sortable">{{ knp_pagination_sortable(statussen, 'Status', 's.status') }} <i class="fa fa-sort"></i></th>
                    <th class="sortable">{{ knp_pagination_sortable(statussen, 'Datum', 's.datum') }} <i class="fa fa-sort"></i></th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Acties</th>
                    {% endif %}
                </tr>

                {% for status in statussen %}
                    <tr>
                        <td>{{ status.locatieId|capitalize }}</td>
                        <td>{{ status.status }}</td>
                        <td>{{ status.datum|date("d/m/Y") }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ path('statusUpdate', {'id': status.id}) }}" class="btn-sm btn-warning"><i id="icon-white" class="fa fa-pencil"></i></a>
                                <a href="#" id="{{ status.id }}" class="btn-sm btn-danger deleteStatus"><i id="icon-white" class="fa fa-trash"></i></a>
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="pearle-modal" class="modal pearle-modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Verwijderen</h4>
                </div>
                <div class="modal-body">
                    <p>Weet u zeker dat u deze status wilt verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default pull-left" data-dismiss="modal">Annuleer</a>
                    <a id="deleteStatusLink" class="btn btn-danger" href="/status/delete/">Verwijder</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
