{% extends 'base.html.twig' %}

{% block title %}
    - Probleemmeldingen
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Probleemmeldingen <a href="{{ path('probleemInsert') }}" class="btn-sm btn-success"><i id="icon-white" class="fa fa-plus"></i></a></h3>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tr>
                    <th class="sortable">{{ knp_pagination_sortable(probleemmeldingen, 'Locatie ID', 'p.locatieid') }} <i class="fa fa-sort"></i></th>
                    <th class="sortable">{{ knp_pagination_sortable(probleemmeldingen, 'Omschrijving', 'p.omschrijving') }} <i class="fa fa-sort"></i></th>
                    <th class="sortable">{{ knp_pagination_sortable(probleemmeldingen, 'Datum', 'p.datum') }} <i class="fa fa-sort"></i></th>
                    <th class="sortable">{{ knp_pagination_sortable(probleemmeldingen, 'Afgehandeld', 'p.afgehandeld') }} <i class="fa fa-sort"></i></th>
                    <th class="sortable">{{ knp_pagination_sortable(probleemmeldingen, 'Technicus', 'p.technicus') }} <i class="fa fa-sort"></i></th>
                    {% if is_granted('ROLE_WERKBEHEERDER') or is_granted('ROLE_TECHNICUS') %}
                        <th>Acties</th>
                    {% endif %}
                </tr>

                {% for probleem in probleemmeldingen %}
                    <tr>
                        <td>{{ probleem.locatieId|capitalize }}</td>
                        <td>{{ probleem.omschrijving }}</td>
                        <td>{{ probleem.datum|date("d/m/Y") }}</td>
                        {% if probleem.afgehandeld == 1 %}
                            <td>Ja</td>
                        {% else %}
                            <td>Nee</td>
                        {% endif %}
                        <td>{{ probleem.technicus }}</td>
                        {% if is_granted('ROLE_WERKBEHEERDER') or is_granted('ROLE_TECHNICUS') %}
                            <td>
                                <a href="{{ path('probleemUpdate', {'id': probleem.id}) }}" class="btn-sm btn-warning"><i id="icon-white" class="fa fa-pencil"></i></a>
                                {% if is_granted('ROLE_ADMIN')  %}
                                <a href="#" id="{{ probleem.id }}" class="btn-sm btn-danger deleteProbleem"><i id="icon-white" class="fa fa-trash"></i></a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="pearle-modal" class="modal pearle-modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Verwijderen</h4>
                </div>
                <div class="modal-body">
                    <p>Weet u zeker dat u deze probleemmelding wilt verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default pull-left" data-dismiss="modal">Annuleer</a>
                    <a id="deleteProbleemLink" class="btn btn-danger" href="/probleem/delete/">Verwijder</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
