{% import 'macro.html.twig' as macros %}

<!DOCTYPE html>
<html>
    <head>
        {% include 'meta.html.twig' %}

        <title>WP3 {% block title %}{% endblock %}</title>

        {% include 'stylesheets.html.twig' %}
    </head>

    <body class="hold-transition skin-green sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <a href="{{ path('status') }}" class="logo">
                    <span class="logo-mini"><img src="{{ asset('assets/img/logo_mini.png') }}" /></span>
                    <span class="logo-lg"><img src="{{ asset('assets/img/logo.png') }}" /></span>
                </a>
                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Verschuif navigatie</span>
                    </a>

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            {% if app.user != null %}
                                <li class="dropdown user user-menu">
                                    <span class="hidden-xs user"><span id="greeting"></span> <span id="username">{{ app.user.username|capitalize }}</span></span>
                                    <span id="userId" class="hidden">{{ app.user.id }}</span>
                                </li>
                                <li class="logout-btn">
                                    <a href="/logout">
                                        <span class="hidden-xs"><i class="fa fa-power-off"></i></span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="dropdown user user-menu">
                                    <span class="hidden-xs user"><span id="greeting"></span> <span id="username">Anoniem</span></span>
                                </li>
                                <li class="logout-btn">
                                    <a href="/login">
                                        <span class="hidden-xs"><i class="fa fa-sign-in"></i></span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </header>

            <aside class="main-sidebar">
                <section class="sidebar">
                    <ul class="sidebar-menu">
                        {% if is_granted('ROLE_TECHNICUS') or is_granted('ROLE_WERKBEHEERDER') %}
                        <li class="{{ macros.is_active('/locatie') }}">
                            <a href="{{ path('locatie') }}">
                                <i id="sidebar-icon" class="fa fa-map-marker"></i> <span>Locaties</span>
                            </a>
                        </li>
                        {% endif %}
                        <li class="{{ macros.is_active('/status') }} {{ macros.is_active_alt }}">
                            <a href="{{ path('status') }}">
                                <i class="fa fa-info-circle"></i> <span>Statussen</span>
                            </a>
                        </li>
                        <li class="{{ macros.is_active('/probleem') }}">
                            <a href="{{ path('probleem') }}">
                                <i id="sidebar-icon" class="fa fa-exclamation-triangle"></i> <span>Probleemmeldingen</span>
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        {% elseif is_granted('ROLE_TECHNICUS') %}
                            <li class="{{ macros.is_active('/toegekendeproblemen') }}">
                                <a href="{{ path('probleemtoegekend') }}">
                                    <i id="sidebar-icon" class="fa fa-list"></i> <span>Toegekende problemen</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="{{ macros.is_active('/beheer') }}">
                                <a href="{{ path('beheer') }}">
                                    <i id="sidebar-icon" class="fa fa-user"></i> <span>Beheer</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </section>
            </aside>

            <div class="content-wrapper">
                <section class="content-header">
                </section>

                <section class="content">
                    {% block body %}{% endblock %}
                </section>
            </div>

            <a id="chat-floater" href="#" class="floater">
                <i class="fa fa-comments"></i>
                <div id="unread">
                    1
                </div>
            </a>
        </div>

        {% include 'scripts.html.twig' %}
        {{ tinymce_init({
            'theme': {'simple': {
                'menubar': false,
                'plugins': 'lists advlist textcolor',
                'toolbar1': 'undo redo | bold italic underline strikethrough | forecolor | alignleft aligncenter alignright | bullist numlist'
            }}
        }) }}
    </body>
</html>
