{% macro is_active(route) %}
    {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) starts with route %}active{% endif %}
{% endmacro %}
{% macro is_active_alt() %}
    {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == '/' %}active{% endif %}
{% endmacro %}