<script src="{{ asset('assets/js/vendor/jquery-2.2.3.min.js') }}"></script>
<script src="{{ asset('assets/js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/vendor/app.min.js') }}"></script>
<script src="{{ asset('assets/js/vendor/dropzone.js') }}"></script>
<script src="{{ asset('assets/js/vendor/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('assets/js/vendor/locales/bootstrap-datepicker.nl.js') }}"></script>
<script src="{{ asset('assets/js/vendor/jquery.cookie.js') }}"></script>

{# CUSTOM SCRIPTS #}
<script src="{{ asset('assets/js/custom.js') }}"></script>
