<link rel="stylesheet" href="{{ asset('assets/css/vendor/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/vendor/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/vendor/AdminLTE.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/vendor/skin-green.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/vendor/dropzone.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/vendor/datepicker3.css') }}">

{# CUSTOM STYLESHEETS #}
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/dropzone.css') }}">
