{% extends 'base.html.twig' %}

{% block title %}
    - Gebruiker aanpassen
{% endblock %}

{% block body %}
    <div class="col-md-5">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Gebruiker aanpassen</h3>
            </div>
            <div class="box-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                <a href="{{ path('beheer') }}" class="btn btn-default">Annuleer</a>
            </div>
        </div>
    </div>
{% endblock %}
