<!DOCTYPE html>
<html>
    <head>
        {% include 'meta.html.twig' %}

        <title>WP3 - Login</title>

        {% include 'stylesheets.html.twig' %}
    </head>

    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <span ><img class="login-img" src="{{ asset('assets/img/logo.png') }}" /></span>
            </div>
            <div class="login-box-body">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <div class="form-group has-feedback">
                        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required autofocus placeholder="Gebruikersnaam" />
                        <span class="fa fa-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" id="password" class="form-control" name="_password" required placeholder="Wachtwoord" />
                        <span class="fa fa-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="submit" id="_submit" name="_submit" class="btn btn-success btn-block btn-flat" value="Login" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% include 'scripts.html.twig' %}
    </body>
</html>
