.nav > li > .user {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.collapsable {
    display: none;
}

.logo-lg img {
    height: 35px;
}

.logo-mini img {
    width: 35px;
}

.logout-btn:hover {
    background-color: #4c4c4c !important;
}

.skin-green .main-header .navbar {
    background-color: #191919;
}

.skin-green .main-header .logo {
    background-color: #191919;
}

.skin-green .main-header .navbar .sidebar-toggle:hover {
    background-color: #4c4c4c;
}

.skin-green .main-header .logo:hover {
    background-color: #191919;
}

.login-page {
    background-image: url(../img/login.jpg);
    background-size: cover;
}

.login-img{
    max-width: 50% !important;
}

.content-wrapper, .right-side  {
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.custom-bg {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.login-box-body {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.login-logo {
    background-color: #cccccc;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}

.form-control:focus {
    border-color: #008C6F;
}

.camera {
    width: 100%;
}

.actions {
    padding-top: 4px;
}

.box .overlay>.fa, .overlay-wrapper .overlay>.fa {
    color: #191919;
}

.timeline-item {
    border-top: 3px solid #d2d6de;
}

.timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 20px !important;
    line-height: 1.1;
    font-weight: 600;
}

.timeline-body {
    padding: 10px;
}

.preview {
    height: 35px;
    overflow: hidden;
}

.unfold-preview .fa {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
    transition: all .5s;
}

.unfold-preview:hover .fa {
    background-color: #191919 !important;
}

.timeline-body .form-group {
    margin: 0;
}

.insert .timeline-body textarea {
    margin-bottom: 5px;
    max-width: 100%;
}

.insert .timeline-header input {
    width: 92%;
}

.bg-blue {
    background-color: #006c98 !important;
}

.btn-success {
    background-color: #58a518;
    border-color: #58a518;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #34630E !important;
    border-color: #34630E !important;
}

.pearle-modal .modal-header {
    background-color: #191919 !important;
    color: white;
}

.gallery-img {
    width: 100%;
    border-radius: 10px;
    transition: all .5s;
}

.gallery-img:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.product-info {
    width: 25%;
    float: left;
}

.camera {
    width: 100%;
}

.pagination>.active>span {
    background-color: #009878;
    border-color: #008C6F;
}

.pagination>.active>span:hover {
    background-color: #008C6F;
    border-color: #008C6F;
}

.box {
    border-top: 3px solid #58a518 ;
}

.btn-box-tool {
    color: #58a518 ;
}

.btn-box-tool:hover {
    color: black;
}

a {
    color: black;
}

a:hover, a:active, a:focus {
    color: #009878;
}

::selection {
    background: #009878;
    color: white;
}

::-moz-selection {
    background: #009878;
    color: white;
}

.skin-green .wrapper, .skin-green .main-sidebar, .skin-green .left-side {
    background-color: #191919;
}

.skin-green .sidebar-menu>li:hover>a, .skin-green .sidebar-menu>li.active>a {
    border-left-color: #fff;
    color: #fff;
    background: #4c4c4c;
}

.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    color: #58a518;
}

.fa {
    color: #58a518;
}

.skin-green .sidebar a {
    color: #F0F0F0;
    font-size: larger;
}

.btn-warning {
    background-color: #58a518;
    border-color: #58a518;
}

.btn-warning:hover, .btn-warning:active, .btn-warning.hover {
    background-color: #34630E;
    border-color: #34630E;
}

#icon-white {
    color: white;
}

.weather {
    position: fixed !important;
}

.re-align {
    margin-top: -34px;
}

#email {
    display: none;
}

@media screen and (max-height: 920px) {
    .weather {
        display: none;
    }
}

#echt1-alt, #echt2-alt, #weert-alt, #nederweert-alt {
    display: none;
}
