{% extends 'base.html.twig' %}

{% block title %}
    - Toegekende problemen
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Toegekende problemen </h3>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tr>
                    <th class="sortable">{{ knp_pagination_sortable(probleemmeldingen, 'Locatie ID', 'p.locatieid') }} <i class="fa fa-sort"></i></th>
                    <th class="sortable">{{ knp_pagination_sortable(probleemmeldingen, 'Omschrijving', 'p.omschrijving') }} <i class="fa fa-sort"></i></th>
                    <th class="sortable">{{ knp_pagination_sortable(probleemmeldingen, 'Datum', 'p.datum') }} <i class="fa fa-sort"></i></th>
                    <th class="sortable">{{ knp_pagination_sortable(probleemmeldingen, 'Afgehandeld', 'p.afgehandeld') }} <i class="fa fa-sort"></i></th>
                    <th>Acties</th>
                </tr>

                {% for probleem in probleemmeldingen %}
                    <tr>
                        <td>{{ probleem.locatieId|capitalize }}</td>
                        <td>{{ probleem.omschrijving }}</td>
                        <td>{{ probleem.datum|date("d/m/Y") }}</td>
                        {% if probleem.afgehandeld == 1 %}
                            <td>Ja</td>
                        {% else %}
                            <td>Nee</td>
                        {% endif %}
                        <td>
                            <a href="{{ path('probleemAfgehandeld', {'id': probleem.id}) }}" class="btn-sm btn-warning"><i id="icon-white" class="fa fa-check"></i></a>
                            <a href="{{ path('probleemNietAfgehandeld', {'id': probleem.id}) }}" class="btn-sm btn-danger"><i id="icon-white" class="fa fa-times"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
