{% extends 'base.html.twig' %}

{% block title %}
    - Beheer
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Gebruikers <a href="{{ path('gebruikersInsert') }}" class="btn-sm btn-success"><i id="icon-white" class="fa fa-plus"></i></a></h3>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th class="sortable">{{ knp_pagination_sortable(gebruikers, 'Gebruikersnaam', 'g.username') }} <i class="fa fa-sort"></i></th>
                        <th class="sortable">{{ knp_pagination_sortable(gebruikers, 'Rol', 'g.roles') }} <i class="fa fa-sort"></i></th>
                        <th>Acties</th>
                    </tr>

                    {% for gebruiker in gebruikers %}
                        <tr>
                            <td>{{ gebruiker.username|capitalize }}</td>
                            <td>{{ gebruiker.roles[0]|replace({'ROLE_TECHNICUS': 'Technicus', 'ROLE_WERKBEHEERDER': 'Werkbeheerder', 'ROLE_ADMIN': 'Administrator'}) }}</td>
                            <td>
                                <a href="{{ path('gebruikersUpdate', {'id': gebruiker.id}) }}" class="btn-sm btn-warning"><i id="icon-white" class="fa fa-pencil"></i></a>
                                <a href="#" id="{{ gebruiker.id }}" class="btn-sm btn-danger deleteGebruiker"><i id="icon-white" class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    <div id="pearle-modal" class="modal pearle-modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Verwijderen</h4>
                </div>
                <div class="modal-body">
                    <p>Weet u zeker dat u deze gebruiker wilt verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default pull-left" data-dismiss="modal">Annuleer</a>
                    <a id="deleteGebruikerLink" class="btn btn-danger" href="/beheer/gebruikers/delete/">Verwijder</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
