{% extends 'base.html.twig' %}

{% block title %}
    - Locaties
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Locaties <a href="{{ path('locatieInsert') }}" class="btn-sm btn-success"><i id="icon-white" class="fa fa-plus"></i></a></h3>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tr>
                    <th class="sortable">{{ knp_pagination_sortable(locaties, 'Locatie ID', 'l.id') }} <i class="fa fa-sort"></i></th>
                    <th class="sortable">{{ knp_pagination_sortable(locaties, 'Naam', 'l.naam') }} <i class="fa fa-sort"></i></th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Acties</th>
                    {% endif %}
                </tr>

                {% for locatie in locaties %}
                    <tr>
                        <td>{{ locatie.id|capitalize }}</td>
                        <td>{{ locatie.naam|capitalize }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ path('locatieUpdate', {'id': locatie.id}) }}" class="btn-sm btn-warning"><i id="icon-white" class="fa fa-pencil"></i></a>
                                <a href="#" id="{{ locatie.id }}" class="btn-sm btn-danger deleteLocatie"><i id="icon-white" class="fa fa-trash"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="pearle-modal" class="modal pearle-modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Verwijderen</h4>
                </div>
                <div class="modal-body">
                    <p>Weet u zeker dat u deze locatie wilt verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default pull-left" data-dismiss="modal">Annuleer</a>
                    <a id="deleteLocatieLink" class="btn btn-danger" href="/locatie/delete/">Verwijder</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
